header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 900;
    color: green;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: blue;
}